<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <%= viewport_meta_tag(@conn) %>
    <title>
      <%= @status %> - Philomena
    </title>
    <link href={stylesheet_path(nil)} rel="stylesheet" />
    <link href={dark_stylesheet_path()} media="(prefers-color-scheme: dark)" rel="stylesheet" />
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
  </head>
  <body class="minimal">
    <div class="minimal__message">
      <h1 class="minimal__message__header">
        <i class="fa fw favicon-home"></i> Philomena
      </h1>
      <h3>
        <%= @short_msg %>
      </h3>
      <p>
        <%= @long_msg %>
      </p>
    </div>
  </body>
</html>
