<div class="block flex">
  <div class="flex__fixed spacing-right">
    <%= render(PhilomenaWeb.UserAttributionView, "_anon_user_avatar.html", object: @post, conn: @conn) %>
  </div>
  <div class="flex__grow communication__body">
    <span class="communication__body__sender-name">
      <%= render(PhilomenaWeb.UserAttributionView, "_anon_user.html", object: @post, conn: @conn, awards: true) %>
    </span>
    <div class="communication__body__text">
      <%= @body %>
    </div>
  </div>
</div>
