.pagination {
  display: flex;
  flex-direction: row;
  line-height: inherit;
}

.pagination span {
  padding: 0 var(--padding-small);
}

.pagination a {
  padding: 0 var(--padding-small);
  font-weight: bold;
}
