.textile-syntax-reference {
  display: flex;
  flex-flow: row wrap;
  line-height: var(--block-header-height);
  vertical-align: center;
  margin-bottom: var(--padding-small);
}

.textile-syntax-reference > span,
.textile-syntax-reference > button {
  margin-left: var(--padding-normal);
}

.spoiler, .spoiler a {
  color: var(--spoiler-color);
  background: var(--spoiler-color)
}

.spoiler-revealed, .spoiler:hover {
  color: var(--text-color);
  background: var(--spoiler-revealed-color);
}

.spoiler-revealed a, .spoiler:hover a {
  color: var(--link-color);
}

.walloftext {
  line-height: var(--readable-line-height);
}
