.pagination {
  display: flex;
  flex-direction: row;
  line-height: inherit;
}

.pagination span {
  padding: 0 var(--padding-small);
}

.pagination i {
  font-size: 0.8rem !important;
}

.pagination a, .pagination span {
  display: grid;
  grid-template-columns: auto;
  gap: var(--padding-tiny);
  align-items: center;
  padding: 0 var(--padding-small);
  font-weight: bold;
}

.pagination .with-icon {
  grid-template-columns: auto auto;
}

.page__info {
  align-self: center;
}
