.pagination {
  display: flex;
  flex-direction: row;
  line-height: inherit;
}

/* A hack to center icons */
.pagination i {
  font-size: 0.8rem !important;
  height: 0.7rem;
}

.pagination a,
.pagination span {
  display: grid;
  grid-template-columns: auto;
  gap: var(--padding-small);
  align-items: center;
  font-weight: bold;
  padding: 0 var(--padding-small);
}

.pagination .with-icon {
  grid-template-columns: auto auto;
}

.page__info {
  align-self: center;
}
