<Layouts.app flash={@flash}>
  <.header>
    New Rule
    <:subtitle>Use this form to manage rule records in your database.</:subtitle>
  </.header>

  <.rule_form changeset={@changeset} action={~p"/rules"} return_to={~p"/rules"} />
</Layouts.app>
