@import "themes/base/dark";

$background-color: #1b1511;
$primary-color: #8c4010;
$secondary-color: #a1654d;

:root {
  /* Main colors */
  --background-color: $background-color;

  /* Link colors */
  --link-color: hsl(from $primary-color h calc(s + 15) calc(l + 40));

  /* Primary color (block backgrounds and such) */
  --primary-color: $primary-color;
  --primary-border-color: hsl(from $primary-color h calc(s - 20) calc(l + 5));
  --primary-muted-color: hsl(from $primary-color h calc(s - 5) calc(l - 14));
  --primary-dark-color: hsl(from $primary-color h calc(s - 15) calc(l - 19));
  --primary-link-color: var(--link-color); /* for consistency */

  /* Secondary color (most buttons) */
  --secondary-color: $secondary-color;
  --secondary-border-color: hsl(from $secondary-color h s calc(l + 5));
  --secondary-muted-color: hsl(from $secondary-color h s calc(l - 15));
  --secondary-dark-color: hsl(from $secondary-color h calc(s + 10) calc(l - 28));
  --secondary-link-color: hsl(from $secondary-color h s calc(l + 40));
}
