html {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

body {
  padding: 0;
  margin: 0;
  background: var(--background-color);
  color: var(--text-color);
}

main {
  padding: var(--padding-normal);
}

@include if-mobile {
  main {
    padding: var(--padding-small);
  }
}

a, a:active, a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

.hidden {
  display: none !important;
}
