.input {
  border: 1px solid var(--secondary-border-color);
  border-radius: var(--border-radius-inner);
  background: var(--secondary-dark-color);
  color: var(--text-color);
  padding: var(--padding-small);
  box-sizing: border-box;
  font-family: var(--font-family-monospace);
}

.input:hover, .input:focus {
  background: var(--secondary-muted-color);
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--secondary-border-color);
}

.input--wide {
  width: 100%;
}

.input--text {
  height: var(--input-text-height);
  padding: var(--padding-normal) var(--padding-small);
  cursor: text;
}

input[type=file] {
  padding-top: var(--padding-small);
}
