ul,
ol {
  display: flex;
  flex-flow: column;
  gap: var(--padding-small);
  margin: 0;
  margin-left: var(--padding-small);
  padding-inline-start: var(--padding-normal);
}

li > ul,
li > ol {
  padding-top: var(--padding-small);
}

.horizontal-list {
  display: flex;
  flex-flow: row;
  gap: var(--padding-normal);
  list-style-type: none;
  padding: 0;
  margin: 0;
}
