/* Phones. */
@mixin if-phone {
  .hidden--phone {
    display: none !important;
  }
}

/* Tablets. */
@mixin if-tablet {
  .hidden--tablet {
    display: none !important;
  }
}

/* Phones and tablets. */
@mixin if-mobile {
  .hidden--mobile {
    display: none !important;
  }
}

/* Anything larger than 1280px (Desktops). */
@mixin if-desktop {
  .hidden--desktop {
    display: none !important;
  }
}
