<%= if present?(@conn.params["hidden"]) do %>
  <a href={@route.(Keyword.delete(@params, :hidden))} title="Hide Hidden Images">
    <i class="fa fa-eye-slash"></i>
    <span class="hide-mobile hide-limited-desktop">
      Hide Hidden
    </span>
  </a>
<% else %>
  <a href={@route.(Keyword.put(@params, :hidden, "1"))} title="Show Hidden Images">
    <i class="fa fa-eye-slash"></i>
    <span class="hide-mobile hide-limited-desktop">
      Show Hidden
    </span>
  </a>
<% end %>
