name: Philomena Build

on: [push, pull_request]

jobs:
  build:
    name: 'Build Elixir app'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Cache mix deps
        uses: actions/cache@v4
        with:
          path: |
            _build
            .cargo
            deps
          key: ${{ runner.os }}-deps-3-${{ hashFiles('mix.lock') }}-${{ hashFiles('native/philomena/Cargo.lock') }}

      - run: docker compose pull
      - run: docker compose build
      - run: docker compose run app run-test

  typos:
    name: 'Check for spelling errors'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: ./scripts/install/typos.sh
      - run: typos

  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: ./scripts/install/shellcheck.sh
      - run: ./scripts/shellcheck.sh

  cargo:
    name: Rust Linting and Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      # Uses the `rust-toolchain.toml` file
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt, clippy

      - name: cargo fmt
        run: (cd native/philomena && cargo fmt --check)

      - name: cargo clippy
        run: (cd native/philomena && cargo clippy -- -D warnings)

      - name: cargo test
        run: (cd native/philomena && cargo test)

  prettier:
    name: 'Prettier Formatting Check'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'
      - run: npm ci --ignore-scripts
      - run: npx prettier --check .

  lint-and-test:
    name: 'JavaScript Linting and Unit Tests'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - run: npm ci --ignore-scripts
        working-directory: ./assets

      - run: npm run lint
        working-directory: ./assets

      - run: npm run test
        working-directory: ./assets

      - run: npm run build
        working-directory: ./assets
